package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 *@projectName ${cfg.PROJECT_NAME}
 *@packageName ${package.Service}
 *@description $!{table.comment}
 *@className   ${table.serviceName}
 *@author      ${author}
 *@createDate  ${cfg.YEAR}-${cfg.MONTH}-${cfg.DAY} ${cfg.TIME}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

}
#end
